.wrapper
	.wrapper-body.container
		.actions
			= link_to admin_services_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.back") do
				= material_icon.md_18.arrow_back.css_class("md-dark")
		.wrapper-inputs
			.card
				.card-content
					= simple_form_for [:admin, @service] do |f|
						.row
							= f.input :title
							= f.input :body, as: :ckeditor, input_html: { ckeditor: {toolbar: 'mini'}, class: "materialize-textarea"}
							= f.input :modal_body, as: :ckeditor, input_html: { ckeditor: {toolbar: 'mini'}, class: "materialize-textarea"}

							.form-actions.right
								= f.button :submit, t("keppler.actions.save"), name: '_save'
