%tr{ id: "row-#{service.id}" }
	- if can? :destroy_multiple, Service
		%td.item-check{style:"width: 10%"}
			= link_to "", admin_service_path(service), remote: true, class: "show-row"
			%input{ type:"checkbox", class: "filled-in", id: "checkbox-#{service.id}", 'checklist-model'=>"check", 'checklist-value'=>"#{service.id}", "ng-click"=>"selectByCheck(#{@objects.size})"}
			%label{ for: "checkbox-#{service.id}" }

		%td{style:"width: 30%"}
			= link_to "", admin_service_path(service, search: @query), remote: true, class: "show-row"
			%span
				= service.title
	%td{style:"width: 5%"}
		= link_to admin_service_path(service), class: "btn-floating waves-effect btn-flat" do
			= material_icon.md_24.more_horiz.css_class("md-dark")
	%td{style:"width: 60%"}
		= link_to "", admin_service_path(service, search: @query), remote: true, class: "show-row"
		%span
			= service.title