html,
body,
main {
  background-color: $white-bone;
  height: 100%;
}

html {

  @include respond-to(xl) {
    @include transition(all .3s ease);
    font-size: $base-font-size;
  }

  @include respond-to(lg) {
    @include transition(all .3s ease);
    font-size: 1.1rem;
  }

  @include respond-to(md) {
    @include transition(all .3s ease);
    font-size: 1rem;
  }

  @include respond-to(sm) {
    @include transition(all .3s ease);
    font-size: .9rem;
  }

  @include respond-to(xs) {
    @include transition(all .3s ease);
    font-size: .8rem;
  }
}

body {

}


