// Medias querys
$breakpoints: (
  'xs-s': "(min-width: 0px) and (max-width: 320px)",
  'xs-m': "(min-width: 321px) and (max-width: 375px)",
  'xs': "(min-width: 376px) and (max-width: 425px)",
  'sm': "(min-width: 768px) and (max-width: 991px)",
  'md': "(min-width: 992px) and (max-width: 1199px)",
  'lg': "(min-width: 1200px) and (max-width: 1600px)",
  'xl': "(min-width: 1601px) and (max-width: 2048px)",
) !default;

// Fonts
$putua: 'Patua One', cursive;
$raleway: 'Raleway', sans-serif;

// Fonts size
$base-font-size: 10px;

// Fonts Weight
$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;

// Colors
$primary-color: #a01407;
$white: #fff;
$white-bone:  #f7f7f7;
$black: #000;
$red: #a01407;
$carbon: #343434;
$red-vine: #8e2828;
$grey: #4b4b4b;
$red-background: #841006;

// Shadow
$primary-shadow: rgba(0, 0, 0, .17);
$cover-front-img: rgba(0, 0, 0, .4);
$row-shadow: rgba(0, 0, 0, .1);
$white-bg: rgba(255, 255, 255, .8);
