.front-footer {
  color: $white;
  font-size: .8rem;
  padding: 20px;
  position: relative;
  z-index: 100;

  img {
    width: 100px;

    @include respond-to(xs) {
      width: 50px;
    }
  }
}

.title-left {

  @include respond-to(xl) {
    @include transition(all .3s ease);
    display: inline-block;
    padding-right: 10px;
    padding-top: 16px;
  }

  @include respond-to(lg) {
    @include transition(all .3s ease);
    display: inline-block;
    padding-right: 10px;
    padding-top: 16px;
  }

  @include respond-to(md) {
    @include transition(all .3s ease);
    display: inline-block;
    padding-right: 10px;
    padding-top: 16px;
  }

  @include respond-to(sm) {
    @include transition(all .3s ease);
    display: inline-block;
    padding-right: 10px;
    padding-top: 16px;
  }

  @include respond-to(xs) {
    @include transition(all .3s ease);
    display: block;
  }
}

.title-right {

  @include respond-to(xl) {
    @include transition(all .3s ease);
    padding-right: 10px;
    padding-top: 16px;
  }

  @include respond-to(lg) {
    @include transition(all .3s ease);
    padding-right: 10px;
    padding-top: 16px;
  }

  @include respond-to(md) {
    @include transition(all .3s ease);
    padding-right: 10px;
    padding-top: 16px;
  }

  @include respond-to(sm) {
    @include transition(all .3s ease);
    padding-right: 10px;
    padding-top: 16px;
  }
}

.img-foot {
  display: inline-block;

  @include respond-to(xs) {
    @include transition(all .3s ease);
    display: block;
  }

  @include respond-to(xs-m) {
    @include transition(all .3s ease);
    display: block;
  }

  @include respond-to(xs-s) {
    @include transition(all .3s ease);
    display: block;
  }
}

.line-footer {
  border-top: solid 2px $white;
  width: 100%;
  padding-bottom: 10px;
}
