.contact {
  margin-left: -15px;
  margin-right: -15px;
}

.img-contact {
  margin: 0;
  position: absolute;
  width: 100%;
  z-index: 1;

  @include respond-to(md) {
    @include transition(all .3s ease);
    height: 100%;
  }

  @include respond-to(sm) {
    @include transition(all .3s ease);
    height: 90%;
  }

  @include respond-to(xs) {
    @include transition(all .3s ease);
    height: 110%;
  }

  @include respond-to(xs-m) {
    @include transition(all .3s ease);
    height: 110%;
  }

  @include respond-to(xs-s) {
    @include transition(all .3s ease);
    height: 110%;
  }
}

.padding-large {
  padding: 90px 30px;

  @include respond-to(md) {
    @include transition(all .3s ease);
    padding: 50px 30px;
  }

  @include respond-to(sm) {
    @include transition(all .3s ease);
    padding: 20px 30px;
  }

  @include respond-to(xs) {
    @include transition(all .3s ease);
    padding: 15px 30px;
  }

  @include respond-to(xs-m) {
    @include transition(all .3s ease);
    padding: 15px 30px;
  }

  @include respond-to(xs-s) {
    @include transition(all .3s ease);
    padding: 15px 30px;
  }
}

.container-bg {
  background-color: $white-bg;
  position: relative;
  z-index: 2;
}

.title-contact.title-roboto {
  &::after {
    border-top: 0;
  }
}

.sub-contact.description-slabo {
  padding-top: 25px;

  @include respond-to(md) {
    @include transition(all .3s ease);
    padding-top: 20px;
  }

  @include respond-to(sm) {
    @include transition(all .3s ease);
    padding-top: 15px;
  }

  @include respond-to(xs) {
    @include transition(all .3s ease);
    padding-top: 10px;
  }

  @include respond-to(xs-m) {
    @include transition(all .3s ease);
    padding-top: 10px;
  }

  @include respond-to(xs-s) {
    @include transition(all .3s ease);
    padding-top: 10px;
  }
}

.send-contact {
  padding-top: 35px;

  @include respond-to(md) {
    @include transition(all .3s ease);
    padding-top: 20px;
  }

  @include respond-to(sm) {
    @include transition(all .3s ease);
    padding-top: 15px;
  }

  @include respond-to(xs) {
    @include transition(all .3s ease);
    padding-top: 10px;
    padding-bottom: 10px;
  }

  @include respond-to(xs-m) {
    @include transition(all .3s ease);
    padding-top: 10px;
    padding-bottom: 10px;
  }

  @include respond-to(xs-s) {
    @include transition(all .3s ease);
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.recaptcha {
  @include respond-to(xs-s) {
    @include transition(all .3s ease);
    transform: scale(.5, .9);
  }

  @include respond-to(xs-m) {
    @include transition(all .3s ease);
    transform: scale(.7, 1);
  }

  @include respond-to(xs) {
    @include transition(all .3s ease);
    transform: scale(.8, 1);
  }
}

.padding-box.padding-xs {
  @include respond-to(xs-s) {
    @include transition(all .3s ease);
    padding-bottom: 0;
    padding-top: 20px;
  }

  @include respond-to(xs-m) {
    @include transition(all .3s ease);
    padding-bottom: 0;
    padding-top: 20px;
  }

  @include respond-to(xs) {
    @include transition(all .3s ease);
    padding-bottom: 0;
    padding-top: 20px;
  }
}
