.downloads {
  margin-left: -15px;
  margin-right: -15px;

  .title-roboto.text-center {
    color: $grey;
    padding-top: 20px;

    &::after {
      border-top: 2px solid $grey;
    }
  }

  .container-fluid {
    background-color: $red-background;

    .padding-box {
      padding: 40px 30px;
    }
  }
}

.bgd-white {
  background-color: $white;
}

.description-downloads {
  color: $grey;
  padding-top: 25px;
}

.img-downloads {
  padding-bottom: 30px;
  padding-top: 40px;
}

.download-btn {
  padding-bottom: 40px;
  padding-top: 30px;
  text-align: center;
}
