.home {
  @include respond-to(xl) {
    @include transition(all .3s ease);
    padding-top: 110px;
  }

  @include respond-to(lg) {
    @include transition(all .3s ease);
    padding-top: 100px;
  }

  @include respond-to(md) {
    @include transition(all .3s ease);
    padding-top: 100px;
  }

  @include respond-to(sm) {
    @include transition(all .3s ease);
    padding-top: 65px;
  }

  @include respond-to(xs) {
    @include transition(all .3s ease);
    padding-top: 78px;
  }

  height: 60%;
  width: 100%;
}

.flex-parent {
  @include align-items(center);
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(flex-start);

  position: relative;

  img {
    height: 60%;
    width: 100%;
    z-index: 1;

    @include respond-to(xs) {
      @include transition(all .3s ease);
      height: 40vh;
    }
  }
}

.flex-parent > .flex-item {
  @include flex(1);
}

.flex-item {
  position: absolute;
  z-index: 3;
}

.cover {
  background-color: $cover-front-img;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 2;
}
