.security {

  @include respond-to(xl) {
    @include transition(all .3s ease);
    padding-bottom: 50px;
    padding-top: 35px;
  }

  @include respond-to(lg) {
    @include transition(all .3s ease);
    padding-bottom: 50px;
    padding-top: 35px;
  }

  @include respond-to(md) {
    @include transition(all .3s ease);
    padding-bottom: 50px;
    padding-top: 0;
  }

  @include respond-to(sm) {
    @include transition(all .3s ease);
    padding-bottom: 20px;
    padding-top: 0;
  }

  @include respond-to(xs) {
    @include transition(all .3s ease);
    padding-bottom: 20px;
    padding-top: 0;
  }

}

.img-security {
  margin: 0;
  width: 100%;
}
