.service {
  .container-fluid {
    .row {
      @include respond-to(xl) {
        @include transition(all .3s ease);
        padding-top: 30px;
      }

      @include respond-to(lg) {
        @include transition(all .3s ease);
        padding-top: 30px;
      }

      @include respond-to(md) {
        @include transition(all .3s ease);
        padding-top: 30px;
      }

      @include respond-to(sm) {
        @include transition(all .3s ease);
        padding-top: 30px;
        padding-bottom: 20px;
      }

      @include respond-to(xs) {
        @include transition(all .3s ease);
        padding-top: 20px;
        padding-bottom: 15px;
      }
    }
  }
}

.cs-img {
  margin: none;
  width: 100% !important;
  height: 201px;
}

.submit-services {

  @include respond-to(xl) {
    @include transition(all .3s ease);
    padding: 20px 0;
    position: relative;
    bottom: -30px;
  }

  @include respond-to(lg) {
    @include transition(all .3s ease);
    padding: 20px 0;
    position: relative;
    bottom: -30px;
  }

  @include respond-to(md) {
    @include transition(all .3s ease);
    padding-bottom: 10px;
    position: relative;
    bottom: -50px;

    .input-service {
      height: 30px;
    }
  }

  @include respond-to(sm) {
    @include transition(all .3s ease);
    padding-bottom: 10px;

    .input-service {
      height: 30px;
    }
  }

  @include respond-to(xs) {
    @include transition(all .3s ease);
    padding-bottom: 10px;

    .input-service {
      height: 30px;
    }
  }
}

.submit-services-1 {
  @include respond-to(xl) {
    @include transition(all .3s ease);
    padding: 20px 0;
    position: relative;
    bottom: -150px;
  }

  @include respond-to(lg) {
    @include transition(all .3s ease);
    padding: 20px 0;
    position: relative;
    bottom: -90px;
  }

  @include respond-to(md) {
    @include transition(all .3s ease);
    padding-bottom: 10px;
    position: relative;
    bottom: -150px;

    .input-service {
      height: 30px;
    }
  }

  @include respond-to(sm) {
    @include transition(all .3s ease);
    padding-bottom: 10px;

    .input-service {
      height: 30px;
    }
  }

  @include respond-to(xs) {
    @include transition(all .3s ease);
    padding-bottom: 10px;

    .input-service {
      height: 30px;
    }
  }
}

.container-fluid.box-shadow.height-img-1 {

  @include respond-to(xl) {
    @include transition(all .3s ease);
    height: 422px;
  }

  @include respond-to(lg) {
    @include transition(all .3s ease);
    height: 422px;
  }

  @include respond-to(md) {
    @include transition(all .3s ease);
    height: 422px;
  }
}

.container-fluid.box-shadow.height-img-2 {

  @include respond-to(xl) {
    @include transition(all .3s ease);
    height: 422px;
  }

  @include respond-to(lg) {
    @include transition(all .3s ease);
    height: 422px;
  }

  @include respond-to(md) {
    @include transition(all .3s ease);
    height: 422px;
  }
}
