.logo-image {
  padding: 0 20px;
}

.submit-us {
  padding-top: 20px;
}

.us {
  @include respond-to(xl) {
    @include transition(all .3s ease);
    padding-top: 35px;
  }

  @include respond-to(lg) {
    @include transition(all .3s ease);
    padding-top: 35px;
  }

  @include respond-to(md) {
    @include transition(all .3s ease);
    padding-top: 0;
  }

  @include respond-to(sm) {
    @include transition(all .3s ease);
    padding-top: 0;
  }

  @include respond-to(xs) {
    @include transition(all .3s ease);
    padding-top: 0;
  }
}
