.front-footer
  .line-footer
  .row
    .col-xs-12.col-sm-6.col-md-6.col-lg-6
      .title-left.pull-left.hidden-xs
        TODOS LOS DERECHOS RESERVADOS, AMASER. C.A.
      .title-left.text-center.hidden-sm.hidden-md.hidden-lg
        TODOS LOS DERECHOS RESERVADOS, AMASER. C.A.
    .col-xs-12.col-sm-6.col-md-6.col-lg-6
      .img-foot.pull-right.hidden-xs
        =image_tag('app/logo-slice-white.png')
      .title-right.pull-right.hidden-xs
        DESARROLADO POR
      .title-right.text-center.hidden-sm.hidden-md.hidden-lg
        DESARROLADO POR
      .img-foot.text-center.hidden-sm.hidden-md.hidden-lg
        =image_tag('app/logo-slice-white.png')