- if Rails.env.production? && @setting.try(:google_analytics_setting).try(:ga_status)
	- if GoogleAnalyticsTrack.get_tracking_id(request)
		- tracking = GoogleAnalyticsTrack.get_tracking_id(request).tracking_id
	- unless tracking
		- tracking = @setting.google_analytics_setting.ga_tracking_id

	:javascript
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', "#{tracking}", 'auto');
		ga('send', 'pageview');