%li{onclick: "close_navbar_res()"}
  = link_to 'Home', "#home"
%li{onclick: "close_navbar_res()"}
  = link_to 'Nosotros', "#us"
%li{onclick: "close_navbar_res()"}
  = link_to 'Servicios', "#service"
%li{onclick: "close_navbar_res()"}
  = link_to 'Seguridad', "#security"
%li{onclick: "close_navbar_res()"}
  = link_to 'Contacto', "#contact"