-# navigation styled for Bootstrap 3.0
%nav.navbar.navbar-default.navbar-fixed-top.app-navbar
  .container-fluid
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand.hidden-xs.hidden-sm.hidden-md
        = image_tag("app/Logo_Navbar.png", class: "img-responsive center-block", id: "brand-img")
      %a.navbar-brand.hidden-xs.hidden-sm.hidden-lg
        = image_tag("app/Logo_Navbar.png",size: "140x140" ,class: "img-responsive center-block", id: "brand-img")
      %a.navbar-brand.hidden-xs.hidden-md.hidden-lg
        = image_tag("app/Logo_Navbar.png",size: "110x110" ,class: "img-responsive center-block", id: "brand-img")
      %a.navbar-brand.hidden-sm.hidden-md.hidden-lg
        = image_tag("app/Logo_Navbar.png",size: "140x140" ,class: "img-responsive center-block", id: "brand-img")
    .collapse.navbar-collapse
      %ul#onepage-nav.nav.navbar-nav
        = render 'app/layouts/navigation_links'