.alert {
  bottom: 30px;
  min-width: 500px;
  position: fixed;
  right: 50px;
  z-index: 100000;
}

.close {
  color: #000;
  filter: alpha(opacity=20);
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  opacity: 0.2;
  text-shadow: 0 1px 0 #fff;
  right: 2%;
  background: none !important;
}

.alert-success {
  background-color: #090;
  border-color: #d6e9c6;
  color: #fff;
}
