.box-shadow {
  box-shadow: 1px 1px 4px 4px $row-shadow;
}

.bg-color {
  background-color: $white;
}

.padding-box {
  padding: 40px;
}

.padding-box-service {
  padding: 20px 10px;
}

.separate-margin {
  margin: 40px 0;
}

.padding-10px {
  padding: 10px 0;
}

.padding-5px {
  padding: 5px 0;
}

.no-padding {
  padding: 0;
}

.padding-left {

  @include respond-to(xl) {
    @include transition(all .3s ease);
    padding-left: 0;
  }

  @include respond-to(lg) {
    @include transition(all .3s ease);
    padding-left: 0;
  }

  @include respond-to(md) {
    @include transition(all .3s ease);
    padding-left: 0;
  }

  @include respond-to(sm) {
    @include transition(all .3s ease);
    padding-top: 15px;
  }

  @include respond-to(xs) {
    @include transition(all .3s ease);
    padding-top: 15px;
  }
}

.padding-right {

  padding-bottom: 15px;

  @include respond-to(xl) {
    @include transition(all .3s ease);
    padding-right: 0;
  }

  @include respond-to(lg) {
    @include transition(all .3s ease);
    padding-right: 0;
  }

  @include respond-to(md) {
    @include transition(all .3s ease);
    padding-right: 0;
  }

  @include respond-to(sm) {
    @include transition(all .3s ease);
    padding-right: 15px;
  }

  @include respond-to(xs) {
    @include transition(all .3s ease);
    padding-right: 15px;
  }
}

.line-first,
.line-second {
  border-bottom: 1px solid $red-vine;
  width: 100%;
}
