.service-modal-img {
  margin: 0;
  width: 100%;
}

.close {
  background: $red-background !important;
  clear: both;
  opacity: .5;
  position: absolute;
  right: 0%;
  width: 4%;

  span {
    color: $white;
    font-size: 1.5rem;
  }
}

.modal-body {
  padding: 0;
}
