.app-navbar {
  background-color: $white;
  border: 0;
  border-radius: 0;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0;
  padding-bottom: 15px;

  .container-fluid {
    padding: 0 30px;
  }
}

.navbar-toggle {
  margin-right: 15px;
  margin-top: 35px;
}

.navbar-nav {
  float: right;
  padding-top: 40px;

  @include respond-to(md) {
    @include transition(all .3s ease);
    padding-top: 35px;
  }

  @include respond-to(sm) {
    @include transition(all .3s ease);
    padding-top: 20px;
    text-align: center;
  }

  @include respond-to(xs) {
    @include transition(all .3s ease);
    float: none;
    padding-top: 10px;
    text-align: center;
  }

  li {
    padding: 0 0 0 40px;

    a {
      
      font-family: $roboto;
      font-size: 1rem;
      font-weight: $normal;
      padding: 10px 0 15px;

      &:hover,
      &:active {
        color: $red !important;
      }
    }
  }
}

.navbar-default .navbar-nav > li > a {
  color: $black;
}

.current {
  a {
    color: $red !important;
  }
}

//navbars-paddings
.us {
  @include respond-to(xl) {
    @include transition(all .3s ease);
    padding-top: 65px;
  }

  @include respond-to(lg) {
    @include transition(all .3s ease);
    padding-top: 65px;
  }

  @include respond-to(md) {
    @include transition(all .3s ease);
    padding-top: 68px;
  }

  @include respond-to(sm) {
    @include transition(all .3s ease);
    padding-top: 50px;
  }

  @include respond-to(xs) {
    @include transition(all .3s ease);
    padding-top: 70px;
  }
}
