.title-header {
  color: $white;
  font-family: $slabo;
  font-size: 1.8rem;
  font-weight: $normal;
  letter-spacing: 1px;
  padding-top: 32px;

  &::after {
    content:"";
    position: absolute;
    bottom: -5px;
    left: -5px;
    right: -5px;
    border-top: 2px solid $white;
    z-index: -1;
  }
}

.description-slabo {
  color: $carbon;
  font-family: $slabo;
  font-size: .9rem;
  font-weight: $normal;
}

.title-roboto {
  color: $red-vine;
  font-family: $roboto;
  font-size: 1.4rem;
  font-weight: $normal;

  &::after {
    border-top: 2px solid $red-vine;
    bottom: -5px;
    content:'';
    left: 45%;
    position: absolute;
    right: 45%;
    z-index: 10;
  }
}

.subtitle-box {
  color: $carbon;
  font-family: $slabo;
  font-size: 1.3rem;
  font-weight: $normal;
}

.description-roboto {
  color: $grey;
  font-family: $roboto;
  font-size: .8rem;
  font-weight: $normal;
}
