.listing-show-header
	.actions
		- if can? :update, Archive
			= link_to edit_admin_archive_path(@archive), class: "btn-floating waves-effect waves-light btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => t("keppler.actions.edit") do
				= material_icon.md_24.create
	%h5
		= material_icon.md_24.account_circle.css_class("md-light")
		= t("model.singular.#{controller_name.singularize}")
.listing-show-body.card{ resize: true , style: "height: {{windowHeight}}px;" }
	.card-content
		%ul.list
			%li.list-row
				.display-label= t("activerecord.attributes.archive.title")
				.display-value= @archive.title
			%li.list-row
				.display-label= t("activerecord.attributes.archive.description")
				.display-value= @archive.description
			%li.list-row
				= link_to t('keppler.actions.back_history'), admin_archives_path

:javascript
	$('.tooltipped').tooltip({delay: 1});
