%tr{ id: "row-#{archive.id}" }
	- if can? :destroy_multiple, Archive
		%td.item-check{style:"width: 10%"}
			= link_to "", admin_archive_path(archive), remote: true, class: "show-row"
			%input{ type:"checkbox", class: "filled-in", id: "checkbox-#{archive.id}", 'checklist-model'=>"check", 'checklist-value'=>"#{archive.id}", "ng-click"=>"selectByCheck(#{@objects.size})"}
			%label{ for: "checkbox-#{archive.id}" }

		%td{style:"width: 30%"}
			= link_to "", admin_archive_path(archive, search: @query), remote: true, class: "show-row"
			%span
				= archive.title
		%td{style:"width: 30%"}
			= link_to "", admin_archive_path(archive, search: @query), remote: true, class: "show-row"
			%span
				= archive.description
	%td{style:"width: 5%"}
		= link_to admin_archive_path(archive), class: "btn-floating waves-effect btn-flat" do
			= material_icon.md_24.more_horiz.css_class("md-dark")