.modal.fade{id: "service-#{service.id}", "aria-labelledby" => "gridSystemModalLabel-#{service.id}", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-body
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        - if i.zero?
          = image_tag("app/Buque_2.jpg", class: "service-modal-img")
        - else
          = image_tag("app/Taller_2.jpg", class: "service-modal-img")
        .row
          .col-md-12
            .padding-10px
              .title-roboto.text-center
                = service.title.html_safe
          .col-md-12
            .padding-box
              .description-roboto
                = service.modal_body.html_safe
    / /.modal-content
  / /.modal-dialog
/ /.modal