.contact.wow.fadeInDown{"data-wow-duration" => "0.8s", "data-wow-delay" => "0.5s", "data-wow-offset" => "50"}
  = image_tag("app/Background_Formulario.jpg", class: "img-contact")
  .padding-large
    .container-fluid.container-bg
      .row
        .col-xs-12.col-sm-5.col-md-6.col-lg-6
          .padding-box.padding-xs
            .title-contact.title-roboto
              ¡CONTACTANOS!
            .sub-contact.description-slabo
              Av. Bolívar entre calles Peninsular y Ayacucho C.C.Empresarial Caribe Nivel Piso 3 Local 11 Sector Centro de Punto Fijo, Estado Falcón, Venezuela.
            .sub-contact.description-slabo
              + 58 (0269) 246.34.34
            .description-slabo
              0269-247.86.42
            .description-slabo
              info@amaserca.com
        .col-xs-12.col-sm-7.col-md-6.col-lg-6
          .padding-box.padding-xs
            .contact-content
              = simple_form_for @message, url: "/admin/messages", method: :post do |f|
                .form-group
                  = f.input :name, label: false, wrapper: :bootstrap, input_html: {class: "form-control", placeholder: "Nombre", required: "required"}
                  = f.input :email, as: :email, label: false, input_html: {class: "form-control", placeholder: "Email", required: "required"}
                  = f.input :subject, label: false, input_html: {class: "form-control", placeholder: "Asunto"}
                  = f.input :content, as: :text, label: false, input_html: {class: "form-control", placeholder: "Mensaje..."}
                .row
                  .col-xs-12.col-sm-12.col-md-12.col-lg-6
                    .recaptcha
                      = raw recaptcha_tags :display => { :theme => 'custom', lang: 'es' }, ajax: true
                  .col-xs-12.col-sm-12.col-md-12.col-lg-6
                    .pull-right.send-contact
                      = image_submit_tag("app/Boton--emviar-.png")