.downloads.wow.fadeInDown{"data-wow-duration" => "0.8s", "data-wow-delay" => "0.5s", "data-wow-offset" => "50"}
  .container-fluid
    .row.padding-box
      .col-md-12.bgd-white
        .row
          .col-md-12
            .title-roboto.text-center
              DESCARGABLES
          .col-md-12
            .description-downloads.description-slabo.text-center
              Conoce los detalles técnicos de nuestras embarcaciones
        - @attachment_desktop.each do |doc|
          .row.hidden-sm.hidden-xs
            - doc.each do |attachment|
              .collumns{ class: "#{'col-md-12' if doc.count == 1}#{'col-md-6' if doc.count == 2 }#{'col-md-4' if doc.count == 3 }#{'col-md-3' if doc.count == 4 }" }
                .img-downloads
                  = image_tag("app/Archivo-PDF-.png", class: "img-responsive")
                .description-roboto.text-center
                  = attachment.description
                .download-btn
                  = link_to(image_tag("app/Boton-descargar-.png"), attachment.attachment_url)
        .row.hidden-md.hidden-lg
          #carousel-downloads.carousel.slide{"data-ride" => "carousel"}
            %ol.indicators-customize.carousel-indicators
              - @attachments.count.times do |index|
                %li{"data-slide-to" => "#{index}", "data-target" => "#carousel-downloads", class: "#{ 'active' if index.zero? }"}
            .carousel-inner
              - @attachments.each_with_index do |attachment, i|
                .item{ class: "#{'active' if i.zero?}" }
                  .row
                    .col-xs-12.col-sm-12
                      .img-downloads
                        = image_tag("app/Archivo-PDF-.png", class: "img-responsive")
                      .description-roboto.text-center
                        = attachment.description
                      .download-btn
                        = link_to(image_tag("app/Boton-descargar-.png"), attachment.attachment_url)