.home
  .container-fluid
    .flex-parent
      .cover
      = image_tag("app/Cartelera_1.png")
      .flex-item.wow.fadeInDown{"data-wow-duration" => "0.8s", "data-wow-delay" => "1s"}
        .title-header
          Agencia Maritima de Servicio C.A.