.security
  .container-fluid
    .row.padding-box
      .col-md-12
        .title-roboto.text-center.wow.fadeInDown{"data-wow-duration" => "0.8s", "data-wow-delay" => "0.5s", "data-wow-offset" => "50"}
          SEGURIDAD
    .row.wow.fadeInDown{"data-wow-duration" => "0.8s", "data-wow-delay" => "0.5s", "data-wow-offset" => "60"}
      .col-md-12
        .box-shadow
          = image_tag("app/solas_esquema.jpg", class: "img-security")