.service
  .container-fluid
    .row.padding-box
      .col-md-12
        .title-roboto.text-center.wow.fadeInDown{"data-wow-duration" => "0.8s", "data-wow-delay" => "0.5s", "data-wow-offset" => "50"}
          SERVICIOS
    - @services.each_with_index do |service, i|
      - if i.zero?
        .row.wow.fadeInLeftBig{"data-wow-duration" => "0.8s", "data-wow-delay" => "0.5s", "data-wow-offset" => "60"}
          .col-md-7
            = image_tag("app/Buque_1.jpg", class: "cs-img")
            .padding-10px
            = image_tag("app/Buque_2.jpg", class: "cs-img")
          .col-md-5.padding-left
            .container-fluid.box-shadow.height-img-1.bg-color
              .padding-box-service
                .subtitle-box
                  = service.title.html_safe
                  .line-first
                .description-roboto
                  .padding-10px
                  = service.body.html_safe
                  .padding-5px
                .submit-services-1.pull-right{"data-toggle" => "modal", "data-target" => "#service-#{service.id}"}
                  = image_submit_tag("app/Botones-Ver-mas-.png", class: "input-service")
      - else
        .row.wow.fadeInRightBig{"data-wow-duration" => "0.8s", "data-wow-delay" => "0.5s", "data-wow-offset" => "60"}
          .col-md-5.padding-right
            .container-fluid.box-shadow.height-img-2.bg-color
              .padding-box-service
                .subtitle-box
                  = service.title.html_safe
                  .line-second
                .description-roboto
                  .padding-10px
                  = service.body.html_safe
                  .padding-5px
                .submit-services.pull-right{"data-toggle" => "modal", "data-target" => "#service-#{service.id}"}
                  = image_submit_tag("app/Botones-Ver-mas-.png", class: "input-service")
          .col-md-7
            .container-fluid.no-padding
              = image_tag("app/Taller_1.jpg", class: "cs-img")
              .padding-10px
              = image_tag("app/Taller_2.jpg", class: "cs-img")
      = render 'app/front/components/modal/service_first', service: service, i: i