.us.wow.fadeInRight{"data-wow-duration" => "0.8s", "data-wow-delay" => "0.5s", "data-wow-offset" => "60"}
  .container-fluid
    .row.separate-margin.box-shadow.bg-color
      .col-md-6.text-center
        .padding-box
          .logo-image
            = image_tag("app/Logo-Nosotros-.png", class: "img-responsive")
      .col-md-6
        .padding-box
          .text-description.description-slabo
            Compañía Naviera dedicada a la operación de lanchas de servicio de transporte personal, provisiones, materiales y apoyo a buques en los terminales de Cardon, Guanarao y Amuay
          .submit-us
            = link_to(image_tag("app/Boton_ConoceNuestros-Servicios-.png", class: "img-responsive"), "#service")