%section#home
  = render 'home'
%section#us
  = render 'us'
%section#service
  = render 'service'
%section#security
  = render 'security'
%section#downloads
  = render 'downloads'
%section#contact
  = render 'contact'